@font-face {
    font-family: PressStart2P;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: SfProText;
    src: url(../fonts/SF-Pro-Text-Regular.ttf);
}

@media (min-width: 576px) {
    .game_btn {
        padding: 1rem 0.35rem !important;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {  }

@media (min-width: 1200px) {
}

@media (min-width: 1650px) {
    .col-xxxl-4{
        flex:0 0 auto;width:33.33333333% !important;
    }

    .col-xxxl-8{
        flex:0 0 auto;width:66.66666667% !important;
    }
}

@media (min-width: 1700px) {
    .game_btn {
        padding: 1rem 1.5rem !important;
    }
}

h6 {
    font-family: SfProText, sans-serif;
}

span {
    font-family: PressStart2P, sans-serif;
}

.card-body {
    padding: 1rem 0.5rem;
}

html {
    position: relative;
    min-height: 100%;

}

body {
    font-family: SfProText, sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    margin-bottom: 60px;
    background: url('../assets/Rectangle.png'), radial-gradient(118.58% 72.31% at 33.26% 24.47%, #0F3671 13.96%, #020C1B 81.75%);
}

h6 {
    font-family: serif;
    font-weight: bold;
}

#game_container {
    width: 32%;
    min-width: 500px;
    height: 100%;
    min-height: 850px;
    position: relative;
}

#game_selector {
    margin: auto;
    width: 100%;
}

#next_word_list {
    height: 315px;
    overflow-y: scroll;
    direction: rtl;
    scrollbar-color: #ffc107 rgba(0, 0, 0, 0.09);
}

#game_title {
    font-family: PressStart2P, sans-serif;
    color: #ffc107;
    padding-top: 0.5rem;
}

#game_title-icon {
    margin-right: 0.25rem;
    padding-right: 0.25rem;
    width: 30px;
    z-index: 100;
}

.game_word {
    color: #f3f3f3;
    font-size: 27px;
    font-weight: bold;
}

.word_box {
    width: 52px;
    height: 52px;
    min-width: 40px;
    min-height: 40px;
    padding: 2px 2px;
    border: #d2d2d2 2.25px solid;
    margin: 0 3px 3px 0px;
}

.word_box.word_box-guess{
    width: 57px !important;
    height: 57px !important;
}

.delete_btn {
    border: none;
}

.word_box > span {
    font-size: 19px;
}

.word_box-choice, .word_cast_box-choice {
    cursor: pointer;
}

.word_box-choice:hover {
    background: #aeaeae;
}

#clear-selection {
    margin: 0rem 0 0.75rem 0;
}

.word_list_container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    max-height: 500px !important;
}

.word_list_item {
    color: #f3f3f3;
    font-size: 14px;
    padding: 5px;
    flex: 50%;
    cursor: pointer;
}

.word_list_item:hover {
    color: #ffc107;
}

.game_btn {
    font-family: PressStart2P, sans-serif;
    font-size: 14px !important;
    max-height: 52px;
    min-height: 40px;
    background: linear-gradient(180deg, #BB6BD9 0%, #731A95 100%);
}

.game_title {
    color: #f3f3f3;
    font-family: SfProText, sans-serif;
    font-size: 12px !important;
    margin-top: .2rem;
}

.dropdown-btn {
    font-size: 8px;
    text-decoration: none;
}

.dropdown-menu {
    font-size: 9px;
}

.card {
    border: 0.1px hidden transparent !important;
    border-radius: .65rem !important;
}

#wizard_logo {
    position: absolute;
    width: 45%;
    height: 30%;
    top: -10px;
    background: url('../assets/wizard.png');
    background-size: 90% 100%;
    background-repeat: no-repeat;
    mix-blend-mode: overlay;
}


#game_wrapper {
    background: url('../assets/Rectangle.png'), radial-gradient(118.58% 72.31% at 33.26% 24.47%, #0F3671 13.96%, #020C1B 81.75%);
}

.card-body {
    background-size: cover !important;
    border: none;
    border-radius: .5rem;
    padding: 0.5rem !important;
    background: url('../assets/Rectangle.png'), radial-gradient(94.78% 143.27% at 50% 12.88%, rgba(29, 94, 192, 1) 13.96%, rgba(2, 12, 27, 1) 100%);
}

.sm-badge {
    font-size: 5px;
}

#wordle-guess-box {
    height: auto;
    max-height: 450px;
    margin-left: 0.75rem;
    margin-bottom: 1rem;
    width: auto;
}

#game_container-modify{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 610px;
    position: relative;
}

#game_welcome-background {
    position: absolute;
    background: url('../assets/wizard-bg.png');
    width: 610px;
    height: 935px;
    mix-blend-mode: overlay;
}

#game_welcome {
    width: 610px;
    height: 920px;
    background: url('../assets/wordle-welcome.png');
}

