@font-face {
  font-family: PressStart2P;
  src: url(../fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: SfProText;
  src: url(../fonts/SF-Pro-Text-Regular.ttf);
}

html {
  font-size: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h6 {
  font-family: SfProText, sans-serif;
}

span{
  font-family: PressStart2P, sans-serif;
}

.card-body{
  padding: 1rem 0.5rem;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: SfProText, sans-serif;
  font-size: 10px;
  margin-bottom: 60px;
  background: url('../assets/Rectangle.png'), radial-gradient(118.58% 72.31% at 33.26% 24.47%, #0F3671 13.96%, #020C1B 81.75%);
}

h6 {
  font-family: serif;
  font-weight: bold;
}

#game_container{
  width: 30%;
  min-width: 500px;
  height: 100%;
  min-height: 750px;
}
#game_selector{
  margin: auto;
  width: 100%;
}
#next_word_list{
  height: auto ;
  max-height: 202px;
  overflow-y: scroll;
}

#game_title{
  font-family: PressStart2P, sans-serif;
  color: #ffc107;
}

.game_word{
  color: #f3f3f3;
  font-size: 27px;
  font-weight: bold;
}

.word_box{
  width: 45px;
  height: 45px;
  min-width: 45px;
  min-height: 45px;
  padding: 2px 2px;
  border: #d2d2d2 2.25px solid;
  margin:0 3px 3px 0px;
}

.delete_btn{
  border: none;
}

.word_box > span{
  font-size: 14px;
}

.word_box-choice, .word_cast_box-choice{
  cursor: pointer;
}

.word_box-choice:hover{
  background: #aeaeae;
}
#clear-selection{
  margin: 0rem 0 0.75rem 0;
}
.word_list_container{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.word_list_item{
  color: #f3f3f3;
  font-size: 12px;
  line-height: 25px;
  padding: 5px;
  flex: 50%;
  cursor: pointer;
}

.word_list_item:hover{
  color: #ffc107;
}

.game_btn{
  font-family: PressStart2P, sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
  min-width: 100px;
  max-height: 45px;
  padding: 12px 0;
  background: linear-gradient(180deg, #BB6BD9 0%, #731A95 100%);
  border-radius: 5px;
}

.game_title{
  color: #f3f3f3;
  font-family: SfProText, sans-serif;
  font-size: 12px;
  margin-top: .2rem;
  font-weight: normal;
}

.dropdown-btn{
  font-size: 8px;
  text-decoration: none;
}

.dropdown-menu{
  font-size: 9px;
}
.card{
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: .25px hidden rgba(0,0,0, 0.09);
  border-radius: .25rem;
}

#wizard-logo{
  position: absolute;
  width: 327.21px;
  height: 291px;
  left: -45px;
  top: -10px;
  background: url('../assets/Wizard.png');
  mix-blend-mode: overlay;
}
  

#game_wrapper{
  background: url('../assets/Rectangle.png'), radial-gradient(118.58% 72.31% at 33.26% 24.47%, #0F3671 13.96%, #020C1B 81.75%);
}

.card-body{
  background: url('../assets/Rectangle.png'),radial-gradient(94.78% 143.27% at 50% 12.88%, rgba(29, 94, 192, 0.5) 13.96%, rgba(2, 12, 27, 0.5) 100%);
  border: .25px hidden rgba(0,0,0, 0);
  border-radius: .25rem;
}

.sm-badge{
  font-size: 5px;
}