@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<a id="game_container-modify" class="" asp-action="WorldSolver">
    <div id="game_welcome-background" ></div>
    <div id="game_welcome"></div>
</a>
