@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
<a id="game_container" class="container m-auto" asp-action="WorldSolver">
    <div id="game_welcome-background" class="m-auto"></div>
    <div id="game_welcome" class="m-auto"></div>
</a>
