@{
    ViewData["Title"] = "Home Page";
}

<div id="game_container" class="container card mx-auto">
<div class="card-body">
<div class="row m-1 my-3">
    <h5 class="card-title pb-3">Wordle Warlock</h5>
    <div class="card col-10 w-auto">
        <div class="card-body">
            <h6 class="position-relative game_title">
                NEXT WORD TO PLAY
                <span class="position-absolute translate-middle badge rounded-pill bg-warning">i</span>
            </h6>
            <div class="col-7 d-flex flex-row">
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div>
                    <button class="game_btn btn-lg btn-success">
                        Do It.
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row m-1">
<div class="col-5 p-0 " style="height: auto ;max-height: 355px; display: flex; flex-direction: column">
    <div class="card">
        <div class="card-body">
            <h6 class="position-relative game_title">
                THE ELIMINATOR
                <span class="position-absolute translate-middle badge rounded-pill bg-warning">i</span>
            </h6>
            <select name="" id="game_selector">
                <option value="">Hi</option>
            </select>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <h6 class="position-relative game_title">
                NEXT WORD LIST
                <span class="position-absolute translate-middle badge rounded-pill bg-warning">i</span>
            </h6>
            <div id="next_word_list">
                <table>
                    <tr>
                        <td class="word_list_item">
                            radet
                        </td>
                        <td class="word_list_item">
                            radet
                        </td>
                    </tr>
                    <tr>
                        <td class="word_list_item">
                            radet
                        </td>
                        <td class="word_list_item">
                            radet
                        </td>
                    </tr>
                    <tr>
                        <td class="word_list_item">
                            radet
                        </td>
                        <td class="word_list_item">
                            radet
                        </td>
                    </tr>
                    <tr>
                        <td class="word_list_item">
                            radet
                        </td>
                        <td class="word_list_item">
                            radet
                        </td>
                    </tr>
                    <tr>
                        <td class="word_list_item">
                            radet
                        </td>
                        <td class="word_list_item">
                            radet
                        </td>
                    </tr>
                    <tr>
                        <td class="word_list_item">
                            radet
                        </td>
                        <td class="word_list_item">
                            radet
                        </td>
                    </tr>
                    <tr>
                        <td class="word_list_item">
                            radet
                        </td>
                        <td class="word_list_item">
                            radet
                        </td>
                    </tr>
                    <tr>
                        <td class="word_list_item">
                            radet
                        </td>
                        <td class="word_list_item">
                            radet
                        </td>
                    </tr>
                    <tr>
                        <td class="word_list_item">
                            radet
                        </td>
                        <td class="word_list_item">
                            radet
                        </td>
                    </tr>
                    <tr>
                        <td class="word_list_item">
                            radet
                        </td>
                        <td class="word_list_item">
                            radet
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-7 p-0">
    <div class="card" style="height: auto ;max-height: 355px;margin-left: 15px ;width: auto">
        <div class="card-body">
            <h6 class="position-relative game_title">
                WORDLE GUESSES
                <span class="position-absolute translate-middle badge rounded-pill bg-warning">i</span>
            </h6>
            <div class="d-flex flex-row">
                <div class="word_box position-relative ">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative ">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative ">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative ">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative ">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative ">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative ">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative ">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative ">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="word_box position-relative ">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
                <div class="word_box position-relative">
                    <span class="position-absolute top-50 start-50 translate-middle game_word"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row m-1 my-3">
    <div class="card ml-2 col-12">
        <div class="card-body">
            <h6 class="my-2">
                <span class="position-relative game_title">
                    ALPHABET
                    <span class="position-absolute translate-middle badge rounded-pill bg-warning">i</span>
                </span>
            </h6>
            <div class="d-flex flex-row">
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">A</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">B</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">C</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">D</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">E</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">F</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">G</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">H</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">I</span>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">J</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">K</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">L</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">M</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">N</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">O</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">P</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">Q</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">R</span>
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">S</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">T</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">U</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">V</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">W</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">X</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">Y</span>
                </div>
                <div class="word_box position-relative word_box-choice">
                    <span class="position-absolute top-50 start-50 translate-middle game_word">Z</span>
                </div>
            </div>

        </div>
    </div>

</div>
</div>
</div>